* {
	font-size: 20px;
	font-family: iosevka;
}

window {
margin: 0px;
border: 1px solid #bd93f9;
color: #4271AE;
background-color: #EEEEEE;
}

#input {
margin: 5px;
color: #D75F00;
border: none;
background-color: #EEEEEE;
}

#inner-box {
margin: 5px;
border: none;
background-color: #EEEEEE;
}

#outer-box {
margin: 5px;
border: none;
background-color: #EEEEEE;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
}

#entry:selected {
color: #D75F00;
background-color: #8959A8;
}
