* {
	font-size: 20px;
	font-family: iosevka, otf-font-awesome;
}

window#waybar {
	background: #4D4D4C;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #282a36;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #4D4D4C;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #4D4D4C;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #D7005F;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #4D4D4C;
	border: #4D4D4C;
	padding: 0 3px;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #718C00;
}
#cpu {
	color: #8959A8;
}
#battery {
	color: #D75F00;
}
#disk {
	color: #b58900;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
